/*****************/
/** BASE STYLES **/
/*****************/
* {
  user-select: none;
  cursor: default;
}

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: #ecf0f1;
  -webkit-user-select: none;
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 10px auto;
  text-align: center;
}

/*****************/
/***** HEADER  ***/
/*****************/

header {
  background-color: #1abc9c;
  height: auto;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.content {
  color: #2c3e50
}

@media (max-width: 600px){
  #header {
    font-size: 1.3em;
  }
  #tag-line {
    display: none;
  }
}

/*****************/
/** CALCUlATOR  **/
/*****************/

.calc-box {
  background-color: #3498db;
  display: inline-block;
  width: 350px;
  border-radius: 10px;
  user-select: none;
}

.calc-display {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 2em;
  color: #16a085;
  letter-spacing: 3px;
  text-align: right;
}

/*@media (max-width: 600px){
  .calc-display {
    font-size: 1.3em;
  }
}*/

.calc-display:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.button-container {
  width: 90%;
  margin: 0 auto;
}

.button-container .row {
  display: inline-flex;
}

.calc-button {
  background-color: white;
  color: #2980b9;
  border-radius: 10px;
  padding: 10px 0;
  user-select: none;
  font-weight: 700;
  font-size: 1.4em;
}

.calc-button:hover {
  background-color: #ecf0f1;
  color: #9b59b6;
}

.calc-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
  color: #e67e22;
}

  /*****************/
  /**** FOOOTER ****/
  /*****************/

footer {
  color: #7f8c8d;
  text-align: center;
}
